.blog{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 1rem;
    
}

.blog_post img{
    height: 30rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.blog_post p{
    width: 100%;
    
}

.blog_post{
    padding-left: 2rem;
    width: 50rem;
    padding-top: 2rem;
}


.separator{
    height: auto;
    background-color:rgb(146, 141, 146);
    width: 2px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.post{
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
}
.post img{
    height: 10rem;
    width: 100%;
}
.side_bar{
    width: 20rem;
    
    
}
.side_bar2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.blog_heading{
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    padding-top: 1rem;
    
}

.date{
    color: grey;
    font-size: 12px;
    padding-left: 3.5rem;
    padding-bottom: 1rem;
}

.side_date{
    color: grey;
    font-size: 10px;
}

.side_title{
    font-weight: 700;
}

.popular{
    background-color: rgb(116, 169, 175);
    width: 10rem;
    margin-top: 2rem;
    padding-left: 2px;
    
    
}

.line{
    width: 20rem;
    height: 2px;
    background-color: rgb(116, 168, 175);
}